*{
  margin: 0;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #008a8b;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main{
  width: 33%;
  height: 45%;
  background-color: white;
  border-radius: 10px;
}

#title{
  height: 22%;
  background-color: #e7f1f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
form{

}

#form{
  width: 80%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#button{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.user{
  width: 97%;
  margin: 2% 0px;
  color: #686869;
  background-color: #f8f8f9;
  border-radius: 3px;
  padding: 5px;
  border: 1px #888888 solid;
  font-size: 15px;
}
#memberMe{
  display: flex;
  width: 79%;
  justify-content: flex-start;
  align-items: center;

}
button{
  width: 20%;
  padding: 5px;
  margin: 0;
  border-radius: 10px;
  border: 1px #888888 solid;
}
#checkBox{
  margin-left: 5px;
}



